.recipe-card {
  width: 250px;
  margin: 0 20px 20px 0;
  background: #212121;
  border: 1px solid #ffcf26;
}
.recipe-card a {
  display: block;
}
.recipe-card .card-body {
  /* margin-top: 10px; */
  /* border-top: 1px solid #ffcf26; */
  color: #ffcf26 !important;
}
.recipe-card .card-body .ingredients {
  border-bottom: 1px solid #ffcf26;
}
.recipe-card .card-title {
  padding: 5px 5px;
  margin: 10px 5px;
  font-size: 15px;
}
.recipe-card img {
  width: 100%;
  object-fit: fill;
  width: 100%;
  height: 200px;
}
